body{
    overflow-x: hidden;
}

section>div:first-child{
    background-image: url("case_06/assets/images/sky.jpg");
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;

}
section>div:nth-child(2){
    background-image: url("case_06/assets/images/road.jpg");
    background-position: center;
    /*background-size: cover;*/
    width: 100vw;
    height: 30vh;
    position: absolute;
    bottom: 0;
    animation: background  8s reverse ease-in infinite;
    animation-delay: 3s;
}
section>div:nth-child(3){
    background-image: url("case_06/assets/images/city.png");
    background-position: center;
    /*background-size: cover;*/
    width: 100vw;
    height: 25vh;
    position: absolute;
    bottom: 30vh;
    animation: background  8s reverse ease-in infinite;
    animation-delay: 3s;
}
section>div:last-child{
    background-image: url("case_06/assets/images/car.png");
    background-position: center;
    background-size: cover;
    width: 25vw;
    height: 20vh;
    position: absolute;
    bottom: 13vh;
    left: 40vw;
}
section>div:last-child>div:first-child{
    background-image: url("case_06/assets/images/wheel.png");
    background-position: center;
    background-size: cover;
    width: 4.5vw;
    aspect-ratio: 1/1;
    position: relative;
    top: 11vh;
    left: 2.2vw;
    animation: wheels_animation  8s alternate linear infinite;
    animation-delay: 3s;

}
section>div:last-child>div:last-child{
    background-image: url("case_06/assets/images/wheel.png");
    background-position: center;
    background-size: cover;
    width: 4.5vw;
    aspect-ratio: 1/1;
    position: relative;
    top: 2vh;
    left: 17.5vw;
    animation: wheels_animation  8s alternate linear infinite;
    animation-delay: 3s;

}
@keyframes background {
   from{
       width: 100vw;

   }
    to{
        width:500vw;

    }

}
@keyframes wheels_animation {
    1%{

        transform: rotate(360deg);

    }
    70%{
        transform: rotate(-140deg);
    }

}